

<!DOCTYPE html><html>
<head>
<title>Bentokit</title>
<link rel="stylesheet" href="stylesheets/basic.css"/>
<link rel="stylesheet" href="stylesheets/frame.css"/>
<link rel="stylesheet" href="stylesheets/framestyle.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Exo:300,500' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="images/favicon.ico"/>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="locale" id="locale" content="#{frameSrc}" />
<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
</head>
<body>

<header>
<div class="header" id="book">
<a href="/" ><img src="images/appbookmark-logo-frame.png"  height="24px" alt="AppBookmark Logo"/></a>

<button id="rating" href="">LIKE THIS APP</button>

<a href="#" id="clickme"><img src="images/appbookmark-close.png" class="close"  height="24px" alt="(X) Close"/></a>
<p class ="likes"> Likes </p>
</div>

</header>
<iframe id="mainFrame" src="#{frameSrc}"></iframe>
</body>
</html>
<script type="text/javascript" src="javascripts/framescript.js"></script>
