

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
table {
	table-layout: fixed;
}

td {
	word-wrap:break-word;
}

.form-control {
   
   
}

.signupLabel {
    
}

button {
    background-color: #428bca;
    border-color: #357ebd;
    border: 1px solid transparent;
    border-radius: 4px;
    color:white;
    text-align: center;
    padding: 6px 12px;
    opacity: .65;
}

.logo {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    top: 10px;
    left: 10px;
}

th {
    text-align : center;
}

.links td{
    padding-bottom : 20px;
   
}

.category {
    text-align: center;
}

#editMenu {
    width: 250px;
}

.link {
    width:300px;
}

#book {
    background-color: #333;
    height: 50px;
}

#clickme {
    float: right;
    margin: 10px;
}

#rating {
    margin-top: 10px;
    margin-left: 50px;
}

.linkColumn {
    font-size: 13px;
}

.editField {
    border: 0px;
    color: black;
}
